* {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#board {
	position: relative;
	width: 575px;
	height: 550px;
	margin: 0 auto;
	padding: 5px;
	background: url("../img/board.jpg") no-repeat;
}
.panel {
	display: flex;
	justify-content: space-between;
	background: #a0d2eb;
	border-radius: 8px;
}

h1::after {
	position: absolute;
	content: ' ';
	width: 40px;
	height: 40px;
	margin-left: 10px;
	background: url(../img/favicon.png);
	background-size: 40px;

}
#messageArea,
form {
	padding: 10px;
}
form input[type=text] {
	background-color: white;
	border: 1px solid gray;
	border-radius: 2px;
	padding-left: 5px;
}
input:hover,
input:focus,
input:active {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), 0 2px 4px rgba(0, 0, 0, 0.44);
	outline: none;
}

#input {
	width: 40px;
}
#reset {
	margin-left: 10px;
}
table {
	position: absolute;
	left: 113px;
	top: 98px;
	border-spacing: 0px;
}
td {
	width: 37px;
	height: 37px;
}

.hit {
	background: url("../img/ship.png") no-repeat center center;
	background-size: 32px;
}
.miss {
	background: url("../img/miss.png") no-repeat center center;
	background-size: 32px;
}
.hitted-ship td::before {
	background: red;
	width: 30px;
}